nav
{
    
    margin-bottom:70px;
    
}
.nav-item
{
    padding-left:20px;
    color: darkblue;
    font-size:20px;
}
.nav-item:hover
{
    color:#143e5e;
    text-decoration:none;
}
.nav-item:visited
{
    border:none;
}
.nav-link ,.sayhello
{
    color: rgb(160, 169, 252);
}
.nav-link:hover
{
    color: rgb(105, 23, 240);
}
.nav2 {
    background-color: #8fc3ea;
    margin: 0px;
    color:whitesmoke;
    height:55px;
    box-shadow:0px 4px 4px #8fc3ea;
}
.profile-icon
{
    width:50px;
    height:50px;
    margin:auto;
}
.brand-img
{
    width:120px;
    height:70px;
}
.nav2-item
{
    color:white;
    padding-right:20px;
    font-size:20px;
    border:none
}
    .nav2-item:hover {
        text-decoration: none;
        color: white;
    }
.navbar-brand
{
    color:whitesmoke
}
.footer-link {
    color: #7fa1bb;
    cursor:pointer;
}
.footer-link:hover{
    color:whitesmoke;
}